* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  font-family: "Times New Roman", Times, serif;
  background-color: #141414;
  
  color: #adadad;
  scroll-behavior: smooth;
}
h1, h2, h3 {
  color: #F0EDE6;
}
h1 {
  font-size: 3rem;
  font-weight: 300;
}
h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 300;
}
h3 {
  margin-bottom: 1rem;
  font-size: 2.3rem;
  font-weight: 300;
}
p{
  font-size: 1.3rem;
}
.font-style{
  font-family: "Instrument Sans", sans-serif;
}
.site-header {
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 30px;
  z-index: 1000;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  width: 200px;
}

.spacer {
  flex: 1;
}

.header-button {
  flex: 1;
  text-align: right;
}

.btn {
  background-color: #69746E;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #223a0fce;
}

.hero {
  position: relative;
  z-index: 1; /* This creates a stacking context */
  height: calc(100vh - 107px); /* Adjust height to account for header */
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  max-width: 100%;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.753); /* Dark overlay */
  z-index: 1;
}
.hero-content{
  position: relative;
  z-index: 2;

}
.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}
section {
  background-color: #141414;
  padding: 60px 20px;
  max-width: 1500px;
  margin: auto;
  align-items: center;
  text-align: center;
}
.motivation {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}
.about-content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 90px;
  align-items: center;
  text-align: left;
}
.about-text, .about-image {
  flex: 1;
}
.about-text p{
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: justify;
  color: #F0EDE6;
}
.about-text li{
  color: #F0EDE6;
  font-size: 1.1rem;
  margin-top: 1em; 
  padding-left: 0.5em; 
  margin-left: 1rem;
}
.about-image img {
  width: 100%;
}
.perks-subtitle {
  font-size: 1.1rem;
  margin-bottom: 40px;
  color: #F0EDE6;
}

.perk-cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.perk {
  position: relative;
  color: white;
  border-radius: 16px;
  padding: 30px;
  max-width: 400px;
  flex: 1 1 250px;
  overflow: hidden;
  z-index: 0;
  background-size: cover;
  background-position: center;
}

/* Text nad overlay */
.perk h3, .perk p {
  position: relative;
  z-index: 2;
}
.perk h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.perk p {
  color: #69746E;
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: justify;
}
.perk:nth-child(1) {
  background-image: url('media/2.png');
  background-size: cover;
}
.perk:nth-child(2) {
  background-image: url('media/3.png');
  background-size: cover;
}
.perk:nth-child(3) {
  background-image: url('media/4.png');
  background-size: cover;
}
.mentality, .membership {

  padding: 60px 20px;
}
.membership ul {
  list-style: none;
  padding-left: 0;
}
/* .membership li {
  margin-bottom: 10px;
  border-left: 4px solid #d4af37;
  padding-left: 10px;
} */
footer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  color: #ccc;
  text-align: center;
  padding: 40px 20px;
  font-size: 1.1rem;
  color: #999999;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-image: url('media/footer.png');
  background-repeat: no-repeat;
  
}
.foot-main{
  max-width: 300px;
}
.footer-logo {
  max-width: 250px;
  margin-bottom: 20px;
}